
		/*CSS untuk paragraf yang berisi judul KRS*/
		.satu{
			border:2px solid white;
			padding:25px;
			text-align:center;
			font-size:30;
			color:white;
			background-color:#0000e6;
			border-radius:5px;
		}
		/*CSS untuk body di krs.html*/
		.bodi{
			background-color:#1aa3ff;
			font-family:verdana;
		}
		/*CSS untuk tabel*/
		.tabel{
			border:2px solid blue;
			align:center;
			height:400px;
			width:100%;
			color:white;
			border-radius:5px;
		}
		/*CSS untuk baris ditabel*/
		td{
			font-size-adjust:center;
			border:2px solid #ccccff;
			text-align:center;
			color:white;
		}
		/*CSS untuk baris utama ditabel*/
		th{
			border:2px solid #ccccff;
			text-align:center;
			color:white;
		}
